@import url('https://fonts.googleapis.com/css?family=Lato:300');

body {
    background-color: slateblue;
    /* background-color: white; */
    font-family: 'Lato', sans-serif;
    margin: 0px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

}

.scrolly-graph {
    background-color: slateblue;
}

.scrolly-block {
    padding: 2em;
}

.scrolly-block span {
    font-size: 30px;
    /* background-color: rgba(255,255,255,0.9);; */
    background-color: white;
    
    line-height: 2em;
}

.branding-bar {
    z-index: 999;
    position: fixed;
    left: 0px;
    right: 0px;
    text-align: right;
    padding-right: 12px;
    height: 20px;
    /* background-color: rgba(255,255,255,0.9); */
}

.trend-logo {
    height: 100%;
}

.trend-logo img:hover{
    /* background-color: lightgray; */
    padding-top: 12px;
}

.trend-logo img {
    opacity: 0.9;
    background-color: white;
    box-shadow: 0px 0px 5px gray;
    border: 1px solid lightgray;
    border-radius: 0px 0px 8px 8px;
    padding: 8px;
    border-top: 0px;
    height: 16px;
}

#scroll-instructions {
    height: 100%;
    /* min-height: 600px; */
    padding: 100px;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 40px;
    z-index: 100;
    background-color: rgba(250,255,255,0.9);
    background-color: lightskyblue;
}

#scroll-instructions small {
    font-size: 0.5em;
}

#scroll-footer {
    padding: 100px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: gray;
    color: white;
}

#scroll-footer a {
    text-decoration: none;
    color: white;
}

#scroll-footer a:visited{
    text-decoration: line-through;
}

#scroll-footer a:hover{
    color: navy;
}